* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: url("./images/background-hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: rgb(14, 13, 19);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 10;
}

.navbar .logo {
  width: 150px;
  height: 80px;
}
.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.navbar ul a {
  text-decoration: none;
  color: orangered;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  display: inline-block;
}
.navbar a:hover {
  color: white;
}

.navbar a::after,
.navbar a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: rgb(253, 253, 253);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.navbar a::before {
  top: -4px;
}

.navbar a:hover::after {
  transform: scaleX(1);
}

.navbar a:hover::before {
  transform-origin: right;
  transform: scaleX(1);
}

main {
  width: 100%;
  height: auto;
}

main .hero {
  width: 100%;
  height: 200px;
  background-image: url("./images/pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .hero .search-box {
  width: 500px;
  height: 34px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  overflow: hidden;
}

main .hero .search-box input {
  width: 80%;
  border: none;
  padding: 0.9em;
  outline: none;
}

main .hero .search-box .btn-search {
  background-color: black;
  color: white;
  border: none;
  width: 20%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

main .hero .search-box .btn-search:hover {
  background-color: orangered;
}

main .explore {
  width: 100%;
  background-color: rgb(14, 13, 19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: white;
}

.explore .container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  padding: 0.5em;
  flex-wrap: wrap;
}

.explore .card {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.625em;
  position: relative;
}

.explore .card-1 {
  background-image: url("./images/bread.jpg");
}

.explore .card-2 {
  background-image: url("./images/background-hero.jpeg");
}

.explore .card-3 {
  background-image: url("./images/pizza.jpg");
}

.bottom-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(2, 20, 37, 0.9);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-bottom-left-radius: 0.625em;
  border-bottom-right-radius: 0.625em;
}

.food-menu {
  margin-block-start: auto;
  inline-size: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px;
  block-size: 400px;
  backdrop-filter: blur(5px);
}

.food-menu h2 {
  text-align: center;
  color: rgb(59, 55, 55);
  margin-block-end: 20px;
}

.food-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.food-menu ul li {
  inline-size: 200px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}

.food-menu ul li:hover {
  background-color: orangered;
  color: white;
  transform: translateY(-5px);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.item-card {
  inline-size: 500px;
  block-size: 100px;
  display: flex;

  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  gap: 20px;
}
.item-card img {
  inline-size: 80px;
  block-size: 50px;
}

.container-menu {
  inline-size: 100%;
  block-size: 400px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.cartbtn {
  background-color: rgb(44, 131, 44);
  color: white;
  border: 0;
  padding: 10px;
  inline-size: 200px;
  cursor: pointer;
}

.navbar-toggler {
  right: 10px;
  position: absolute;
}
.navbar-toggler button {
  background: none;
  color: white;
  font-size: 24px;
  border: 0;
  cursor: pointer;
  display: none;
}
.navbar button {
  background: none;
  color: white;
  font-size: 24px;
  border: 0;
  margin-right: 0.5em;
  cursor: pointer;
}
.burger {
  display: none;
}
.open {
  display: flex;
  background-color: black;
}
/* Media screen */
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    justify-content: start;
    height: 50vh;
    padding: 0.9em 2em;
  }
  .logo {
    display: none;
  }

  .search-box {
    display: none !important;
  }
  .burger {
    top: 5px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    display: block;
  }
  .open {
    display: block;
  }
  ul {
    flex-direction: column;
    position: absolute;
    left: 0;
    margin-left: 10px !important;
  }
  .cart-toggler {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 100px;
    margin-left: 10px !important;
  }
  .hide {
    display: none;
    transition: all ease-in-out;
  }
}
